
product_presentation.aux
product_presentation.fdb_latexmk
product_presentation.fls
product_presentation.log
product_presentation.pdf
template.py
product_presentation.tex
121.html
product_presentation.tex
Firany gotowe.html
